<div style="text-align: center">

    <div class="row">
        <div class="input-field col s12">
            <input id="num1" type="number" ng-model="num1" class="validate"><br>
            <label for="num1">Numero 1</label>
        </div>
        <div class="input-field col s12">
            <input id="num2" type="number" ng-model="num2" class="validate"><br>
            <label for="num2">Numero 2</label>
        </div>
    </div>

    <button class="waves-effect waves-light btn" ng-click="calcul()">Click Me</button>

    <!--<div class="label">{{result}}</div>-->
</div>

<a href="#home">Back Home</a>