<div class="card-panel">

    <h2 class="center">Home Page</h2>
    <ul class="collection">
        <li><a class="collection-item" href="#users">
            <i class="fa fa-user" aria-hidden="true"></i>
            Users</a></li>
        <li><a class="collection-item" href="#users/create">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
             Add User</a></li>
        <li>
            <a class="collection-item" href="#calculation">
                <i class="fa fa-calculator" aria-hidden="true"></i>
                Calculation Example</a></li>
    </ul>
</div>